* {
    box-sizing: border-box;
}
.header {
    border: 1px solid black;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}
.main {
    border: 1px solid black;
}
.footer {
    border: 1px solid black;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    width: 100%;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: 18px/27px Montserrat, sans-serif;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);  
}
code {
    background: linear-gradient(45deg, #DEB887, #F5DEB3);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-title {
    font: bold 24px/36px Montserrat, sans-serif;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration-line: none;
    font-size: 22px;
    font-style: italic;
    color: #800000;
    transition: .2s;
    
}
.nav-link:hover {
    background:		#DEB887;
    font-size: 24px;
    font-style: italic;
}
html {
    scroll-behavior: smooth;
}
img {
    object-fit: cover;
    transition: .4s;
}
img:hover {
    transform: scale(1.3);
    padding: 2px;
}
a {
    text-decoration: none;
    color: #800000; 
    transition: .3s;
    font-style: italic;
}
a:hover {
    background:		#DEB887; 
    font: bold 110% Montserrat, sans-serif ;
}
.skills-logo {
    padding: 10px 10px 0px 0px;
}
.skills-list {
    list-style: none;
}
.profile-photo {
    
    border: 2px solid black; 
}
.profile {
    position: absolute;
    top: 100px;
    right: 40px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    padding: 10px;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);  
    
}
@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}